{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
  <h1>{{ review.title }}</h1>
  {% if review.image %}
    <img src="{{ review.image.url }}">
  {% endif %}
  <p>{{ review.content }}</p>

  {% if request.user == review.user %}
  <!-- 글 삭제 -->
  <form action="{% url 'reviews:delete' review.pk %}" method="POST">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="삭제">
  </form>

  <!-- 글 수정 -->
  <a class="btn btn-primary" href="{% url 'reviews:update' review.pk %}">글 수정</a>
  {% endif %}

  <!-- 뒤로 -->
  <a class="btn btn-secondary" href="{% url 'reviews:index' %}">뒤로</a>

  <!-- 댓글 -->
  <h3>댓글</h3>
  <form action="{% url 'reviews:comments' review.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <input type="submit" value="완료">
  </form>
  {% for comment in comments %}
    {{ comment.content }}
    <!-- 댓글 삭제 -->
    {% if request.user == comment.user %}
    <form action="{% url 'reviews:comments_delete' review.pk comment.pk %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-danger ms-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
      </button>
    </form>
    {% endif %}
    {% empty %}
    <p>댓글이 없어요.</p>
  {% endfor %}
{% endblock %}

