{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
  <h1>detail</h1>
  <h2>{{ review.title }}</h2>
  {% if review.image %}
    <img src="{{ review.image.url }}">
  {% endif %}
  <p>{{ review.content }}</p>

  <!-- 글 삭제 -->
  <form action="{% url 'reviews:delete' review.pk %}" method="POST">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="삭제">
  </form>

  <!-- 글 수정 -->
  <a class="btn btn-primary" href="{% url 'reviews:update' review.pk %}">글 수정</a>
  <!-- 뒤로 -->
  <a class="btn btn-secondary" href="{% url 'reviews:index' %}">뒤로</a>

  <!-- 댓글 -->
  <h3>댓글</h3>
  <form action="{% url 'reviews:comments' review.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <input type="submit" value="완료">
  </form>
  {% for comment in comments %}
    {{ comment.content }}
    {% empty %}
    <p>댓글이 없어요.</p>
  {% endfor %}
{% endblock %}