{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
  <h1>index</h1>
  <a class="btn btn-primary" href="{% url 'reviews:create' %}">작성</a>

<div class="row">
  {% for review in reviews %}
  <div class="col-12 col-md-6 col-lg-4 my-2">
    <div class="card text-center">
      {% if review.image.url %}
        <img src="{{ review.image.url }}" class="card-img-top" alt="...">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ review.title }}</h5>
        <p class="text-muted"><a href="{% url 'accounts:detail' review.user.pk %}">{{ review.user.username }}</a></p>
        <a href="{% url 'reviews:detail' review.pk %}" class="btn btn-outline-secondary my-3">글 내용</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}