{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="row mt-5 text-center justify-content-center">
    <h1 class="my-5">{{ user.username }}님의 프로필</h1>
    <p class="mb-4">이름 :
      {{ user.full_name }}</p>
    <p class="mb-4">이메일 :
      {{ user.email }}</p>
    <!-- buttons -->
    {% if request.user == user %}
      <div>
        <a class="btn btn-primary me-3" href="{% url 'accounts:update' %}">수정하기</a>
        <a class="btn btn-outline-primary" href="{% url 'accounts:index' %}">회원목록</a>
      </div>
    {% else %}
      <div>
        <a class="btn btn-outline-primary" href="{% url 'accounts:index' %}">회원목록</a>
      </div>
    {% endif %}
    <a href="{% url 'accounts:index' %}" class="btn btn-primary col-2">목록으로</a>
  </div>

{% endblock content %}